.divContentPoint {
  z-index: 0;
  width: 100%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.textContentPoint {
  margin-top: 1px;
  margin-right: 5px;
  margin-bottom: 1px;
  margin-left: 5%;
  font-size: 0.9rem;
  font-family: Open Sans;
  font-weight: normal;
  line-height: 14px;
  height: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: white;
  border: 1px solid #bdbdbd;
}

.squareState {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  margin-left: 5px;
  background: grey;
  content: " ";
}

// Font size for screen of 14"
@media screen and (max-width: 1366px) {
  .textContentPoint {
    font-size: 10px;
  }
}

.functionIcon{
  position: relative;
  top: -2px;
  margin-left: 4px;
  margin-right: 4px;
}

.onoffIcon{
  position: relative;
  top: -2px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}
.contextMenuItem{
  padding: 5px 0px 5px 0px;
}

.contextMenu {
  position: fixed;
  background: white;
  box-shadow: 0px 2px 10px #999999;
  padding: 10px 10px 10px 10px;
  
  &--option {
    padding: 6px 0px 5px 0px;
    min-width: 160px;
    cursor: default;
    font-size: 12px;
    &:hover {
      background: linear-gradient(to top, #555, #333);
      color: white;
    }

    &:active {
      color: #e9e9e9;
      background: linear-gradient(to top, #555, #444);
    }

    &__disabled {
      color: #999999;
      pointer-events: none;
    }
  }

  &--option2 {
    padding: 6px 50px 5px 10px;
    min-width: 160px;
    cursor: default;
    font-size: 12px;
    &:hover {
      background: linear-gradient(to top, #555, #333);
      color: white;
    }

    &:active {
      color: #e9e9e9;
      background: linear-gradient(to top, #555, #444);
    }

    &__disabled {
      color: #999999;
      pointer-events: none;
    }
  }

  &--separator {
    width: 100%;
    height: 1px;
    background: #cccccc;
    margin: 0 0 0 0;
  }
}
