{
    "API_KEY":"NEWRELIC-API-KEY",
    "accountID":"NEWRELIC-ACCOUNT-ID",
    "JiraAccessToken": "JIRA-TOKEN-TO-SEND-SUPPORT-NOTIFICATIONS",
    "SlackAccessToken":"SLACK-TOKEN-TO-SEND-SUPPORT-NOTIFICATIONS"
}