{
    "JiraAccessToken": "JIRA-TOKEN-TO-SEND-SUPPORT-NOTIFICATIONS",
    "SlackAccessToken":"SLACK-TOKEN-TO-SEND-SUPPORT-NOTIFICATIONS",
    "proxyJira":"https://proxy2.pathpoint-support.workers.dev/?https://jira.wigilabs.workers.dev/",
    "proxySlack":"https://proxy.pathpoint-support.workers.dev/?"
}