.listKpis {
    position: fixed;
    background: white;
    box-shadow: 0px 2px 10px #999999;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    height: 200px;
    z-index: 2001;

    &--option {
        width: 45px;
        height: 40px;
        font-size: 12px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        line-height: 25px;
        color: #bdbdbd;
        background: #828282;
        cursor: pointer;
    }
    &--optionselected {
        width: 45px;
        font-size: 12px;
        height: 40px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        line-height: 25px;
        color: white;
        background: black;
        cursor: pointer;
    }
    &--option:hover {
        color: white;
        background: black;
    }
}

.listKpis--title{
    background: #F2F2F2;
    font-size: 12px;
    color: #828282;
    height: 20px;
    text-align: center;
}
.listKpis__content{
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    transition:all 0.5s linear;
}
.listKpis__content--item{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #828282;
    margin-left: 15px;
    margin-right: 15px;
    height: 30px;
    text-transform: capitalize;
}