.mainTooltip {
  margin-left: 10px;
}

.tooltipTitle {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  align-items: center;

  &__title {
    color: #0078bf;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
  }
}

.tooltipTitleLine {
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

.tooltipContent {
  display: flex;
  justify-content: space-around;

  &__text {
    font-size: 12px;
    line-height: 16px;
    margin-left: 40px;
    margin-right: 5px;
  }

  &__content {
    width: 33.3%;
    color: black;

    &--two {
      width: 45%;
      color: black;
    }
  }

  &__space {
    margin-top: 10px;
  }
}

// ToolTip

#toolTipStages {
  opacity: 1 !important;
  left: 5% !important;
}

#toolTipSteps {
  opacity: 1 !important;
  left: 5% !important;
}

#toolTipTouchPoints {
  opacity: 1 !important;
  left: 5% !important;
}

.MuiTooltip-tooltip-3 {
  color: black !important;
  padding: 4px 8px !important;
  font-size: 0.625rem !important;
  max-width: min-content !important;
  max-height: 500px !important;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  line-height: 1.4em !important;
  border-radius: 4px !important;
  background-color: white !important;

  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75) !important;
}

// ToolTip
