.mainModal {
  width: 100%;
  height: 100%;
  &__closeIcon {
    width: 26px;
    height: 26px;
  }
}

.headerModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containModal {
  display: grid;
  grid-template: 10% 90% / 1fr;
  height: 100%;
}

button[disabled] {
  background-color: gray !important;
}

.react-selectQuery {
  &__control {
    width: 295px !important;
    height: 30px !important;
    min-height: 30px !important;
  }

  &__indicator {
    padding: 4px;
  }

  &__menu {
    z-index: 15;
  }
}

.form-parent-container {
  margin-top: 15px;
}

.table-modal-container {
  margin-top: 5px;
}

.containerError {
  min-height: 350px;
  width: 100%;
  max-height: 350px;
  overflow: auto;
  height: 100%;
}

.support-modal-input-text {
  min-height: 30px;
  margin-top: 5px !important;
  border-radius: 0px !important;
  background-color: #fff !important;
  border: 1px solid #bdbdbd !important;
}
.container_dowmload {
  display: flex;
  height: 270px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.container_datos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 260px;
}
.container_header_icons {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}
.container_body_historic {
  display: flex;
  flex-direction: column;
}
.button_container {
  display: flex;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: #0078BF;
}
.button_container_Upload {
  display: flex;
  margin-top: 10px;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background: #0078BF;
}
.button_container_store {
  display: flex;
  margin-top: 10px;
  width: 150px;
  height: 35px;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  background: #0078BF;
}
.button_container_store_disabled {
  display: flex;
  margin-top: 10px;
  width: 150px;
  height: 35px;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  background: #BDBDBD;
}
.container_row {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 3%;
  flex-direction: row;
  width: 100%;
}
.container_row_name {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.container_row_note {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 3%;
  flex-direction: row;
  width: 100%;
}
.container_row_download {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 4%;
}
.container_row_store {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 4%;
}
.container_Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container_Historic {
  width: 650px;
}
.header_historic {
  display: flex;
  flex-direction: row;
}
.label_header_name {
  width: 30%;
  color: #bdbdbd;
  font-size: 14px;
}
.label_header_note {
  width: 15%;
  color: #bdbdbd;
  font-size: 14px;
}
.label_header_date {
  width: 15%;
  color: #bdbdbd;
  font-size: 14px;
}
.label_header_owner {
  width: 20%;
  color: #bdbdbd;
  font-size: 14px;
}
.label_header_file {
  width: 20%;
  color: #bdbdbd;
  font-size: 14px;
}
.label_body_name {
  width: 30%;
  color: #0079be;
  font-size: 14px;
  font-weight: lighter;
}
.label_body_note {
  width: 15%;
  color: #000000;
  font-size: 14px;
  font-weight: lighter;
}
.label_body_date {
  width: 15%;
  color: #000000;
  font-size: 14px;
  font-weight: lighter;
}
.label_body_owner {
  width: 20%;
  color: #000000;
  font-size: 14px;
  font-weight: lighter;
}
.label_body_file {
  width: 20%;
  color: #000000;
  font-size: 14px;
  font-weight: lighter;
}
.label_container {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  color: #828282;
}
.label_datos_container {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
  font-size: 14px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  color: #333333;
}
.label_container_store {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  color: #0078BF;
}
.label_datos_container_store {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  color: #333333;
}
.label {
  display: flex;
  color: #bdbdbd;
  font-size: 14px;
}
.archivo {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 5%;
  border: 1px solid black;
  height: 20px;
}
.input_archivo {
  width: 100%;
  height: 100%;
}
.buttonUpload_Disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
  margin-top: 3px;
  line-height: 16px;
  background: #BDBDBD;
  color: #828282;
  cursor: pointer;
}
.buttonUploadJson {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
  margin-top: 3px;
  line-height: 16px;
  color: #FFFFFF;
}
.update {
  margin-top: 6px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #BDBDBD;
}
.update_selected {
  margin-top: 6px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #0078BF;
}

* {
  scrollbar-width: thin;
  scrollbar-color: lightgrey;
}

button[disabled] {
  background-color: #e7e9ea !important;
  -webkit-box-shadow: none;
		box-shadow: none;
		color: #7f8283;
		cursor: not-allowed;
}

input[disabled] {
  background-color: #e7e9ea !important;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #7f8283;
		box-shadow: none;
		color: #7f8283;
		cursor: not-allowed;
}

.btn_confirm {
  background: #0078BF;
  border-color: #0078BF;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  margin-top: 15px;
  color: white;
  margin-right: 15px;
  height: 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-Size: 14px;
  line-height: 19px;
}

.btn_cancel {
  background: white;
  border-color: #828282;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  margin-top: 15px;
  color: #0D47A1;
  height: 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.confirm_header {
  position: absolute;
  top: -90px;
  left: 0;
  background-color: #F2F2F2;
  z-index: 9999;
  width: 555px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.confirm_shadow {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 9999;
  width: 565px;
}

table {
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    box-sizing: border-box;

    &:first-child {
      border-top: 1px solid #E0E0E0;
      border-left: 1px solid #E0E0E0;
      border-right: 1px solid #E0E0E0;
    }
  }

  th {
    background: #E0E0E0;
  }
}

.mainHeaderFirstTitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin-top: 4%;
}

.mainHeaderSecondTitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
  margin-top: 2px;
}

.headerTableTitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.textFieldBody {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.title_dropdown_stage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label_dropdown_order {
  display: flex;
  align-items: center;
  height: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-right: 5px;
  padding-bottom: 2px;
}

.label_dropdown_title {
  display: flex;
  align-items: center;
  width: 50px;
  height: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
  padding-bottom: 2px;
}

.title_separator {
  width: 1px;
  height: 16px;
  margin-left: 2px;
  margin-right: 3px;
  background-color: #BDBDBD;
}

.label_dropdown {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-left: 5px;
  margin-top: 1px;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: lightgrey;
}

*::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 3px;
}
