.mainModal {
  width: 100%;
  height: 100%;
  &__closeIcon {
    width: 26px;
    height: 26px;
  }
}
.headerModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containModal {
  display: grid;
  grid-template: 10% 90% / 1fr;
  height: 100%;
}

button[disabled] {
  background-color: gray !important;
}

.react-selectQuery {
  &__control {
    width: 295px !important;
    height: 30px !important;
    min-height: 30px !important;
  }

  &__indicator {
    padding: 4px;
  }

  &__menu {
    z-index: 15;
  }
}

.form-parent-container {
  margin-top: 15px;
}
