.modal-body {
    //background: yellow;
    width: 100%;
    //padding-top: 25px;
    //height: 1050px;
  }
  
  
  // .modal {
  //   width: 1600px;
  //   //background: green;
  //   margin-left: 300px;
  //   padding-left: 100px;
  // }
  
  // .modal-dialog {
  //   //background: red;
  //   margin-top: 0;
  //   width: 1400px;
  // }
  
  // .selectIcon {
  //   z-index: 5;
  // }
  .container-frame {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-gap: 5px;
    background-color: #fff;
    //color: #444;
    //padding-top: 200px;
    //height: 900px;
  }
  
  .box {
    //background-color: #444;
    padding: 0;
    margin: 0;
    color: #fff;
    border-radius: 1px;
    //padding: 20px;
    font-size: 150%;
    height: 400px;
  }
  
  iframe > .herald-height {
    height: 200px;
    overflow: hidden;
  }
  
  .chart-container {
    background: red;
  }
  