.textLevelBar {
  display: flex;
  color: white;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 1rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 3px;
}
