.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 1.5px 0 1.5px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  font-size: inherit;
  font-weight: inherit;
  color: #3b3b3b;
  // height: 30px;
  // line-height: 16px;
  background: #ffffff;
  cursor: pointer;
  border-width: 1.5px 0 1.5px 0;
  border-style: solid;
  border-color: rgb(204, 204, 204);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #bdbdbd;
  border-top: 0;
  background: #fff;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  max-height: 200px;
  overflow: auto;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 8px;
  font-size: inherit;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {
  color: #ffffff;
  background-color: rgb(18, 167, 255);
}
.arrow {
  position: relative;
  height: 10px;
}
.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0.14rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -8px;
  transform: rotate(45deg);
  background-color: #394a6d;
}
.arrow::after {
  left: -15px;
  transform: rotate(-45deg);
  background-color: #394a6d;
}

// ====================== TOOLTIP ====================================

#tooltip
{
  position: absolute;
  display: inline;
  left: 155px;
  top: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 12px;
  text-align: left;
  text-align: start;
  text-shadow: none;
  text-transform: none;
  color: #5a6367;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 11px;
}

#tooltip.right
{
  margin-left: 5px;
}

#tooltip.left
{
  margin-left: -5px;
}

#tooltip.top
{
  margin-top: -5px;
}

#tooltip.bottom
{
  margin-top: 5px;
}

#tooltip .tooltip-arrow
{
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

#tooltip.right .tooltip-arrow
{
  top: 50%;
  left: auto;
  margin-left: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

#tooltip.top .tooltip-arrow
{
  top: auto;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

#tooltip.left .tooltip-arrow
{
  top: 50%;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
  right: -5px;
  left: auto;
}

#tooltip.bottom .tooltip-arrow
{
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

#tooltip .tooltip-arrow
{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-right-color: transparent;
  border-style: solid;
}

#tooltip .tooltip-label
{
  width: 100px;
  padding: 3px 8px;
  font-family: Open sans;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}