.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 1.5px 0 1.5px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  font-size: inherit;
  font-weight: inherit;
  color: #3b3b3b;
  // height: 30px;
  // line-height: 16px;
  background: #ffffff;
  cursor: pointer;
  border-width: 1.5px 0 1.5px 0;
  border-style: solid;
  border-color: rgb(204, 204, 204);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #bdbdbd;
  border-top: 0;
  background: #fff;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  max-height: 200px;
  overflow: auto;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 8px;
  font-size: inherit;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {
  color: #ffffff;
  background-color: rgb(18, 167, 255);
}
.arrow {
  position: relative;
  height: 10px;
}
.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0.14rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -8px;
  transform: rotate(45deg);
  background-color: #394a6d;
}
.arrow::after {
  left: -15px;
  transform: rotate(-45deg);
  background-color: #394a6d;
}