#kpi-editor-header-modal .icons {
    width: 50%;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;

    & .icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 15px;
        cursor: pointer;
    }
}

#kpi-editor-body-modal {
    width: 1000px;

    & .modal4content .wrapper {
        display: flex;
        overflow-y: auto;
        max-height: 400px;

        & .left-content {
            & #kpi-editor-footer-modal {
                & .save-kpi-changes {
                    width: 50%;
                    color: #ffffff;
                    background-color: #0078BF;
                }

                & .add-new-kpi {
                    width: 50%;
                    border-width: 1px;
                    border-radius: 2px;
                    color: #0D47A1;
                    border-style: solid;
                    border-color: #0D47A1;
                    background-color: #ffffff;
                }
            }
        }

        & .right-content .tab-container {
            height: 350px;
            margin-top: 11px;
            margin-left: 10px;
            margin-right: 10px;
            padding: 15px 20px;
            padding-bottom: 23px;
            background-color: #F7F7F8;
            font-family: 'Open Sans', sans-serif;

            & .select-account-id {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }

            & #kpi-timeranges {
                display: flex;
                margin-top: 10px;
                margin-bottom: 10px;

                & .timerange-entry {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                }
            }

            & .test-query {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 15px;
            }
        }

        & .left-content, .right-content {
            width: 50%;
        }
    }
}