@import './containers/MainContainer/styles.scss';
@import './containers/StepContainer/styles.scss';
@import './components/Header/styles.scss';
@import './components/Stage/style.scss';
@import './components/Step/style.scss';
@import './components/TouchPoint/styles.scss';
@import './components/Arrow/styless.scss';
@import './components/Tooltip/styles.scss';
@import './components//Modal/styles.scss';
@import './components/Select/styles.scss';
@import './components/RangeTime/styles.scss';
@import './components/SelectorKpis/styles.scss';
@import './components/SelectIDs/styles.scss';
@import './components/Workload/styles.scss';
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

#root {
  background-color: #fafafa !important;
}

a[target='_blank']:after {
  background-image: none !important;
  margin-left: 0px !important;
  position: unset !important;
  width: 0px !important;
}

.modal-dialog {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal-backdrop {
  background: rgba(51, 51, 51, 0.6);
}

.custom-select {
  position: inherit;
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid rgb(189, 189, 189);
  min-height: 30px;
  min-width: 150px;
  font-size: 13px;
  &:hover,
  &:focus {
    background-color: #f3f4f4;
    border-bottom-color: #dcdcdc;
  }
  option {
    font-size: 13px;
    min-height: 30px;
  }
}
